<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867833184923-r6afku79o2odid386n18a45rvpho905q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867833184923-r6afku79o2odid386n18a45rvpho905q</string>
	<key>API_KEY</key>
	<string>AIzaSyCJxCe2Ne_c2hZa6LODCO_Q8UY8swznrrY</string>
	<key>GCM_SENDER_ID</key>
	<string>867833184923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flavio.BSP3</string>
	<key>PROJECT_ID</key>
	<string>bsp3-f0b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>bsp3-f0b1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867833184923:ios:c95f233b55a0a215093c3e</string>
	<key>DATABASE_URL</key>
	<string>https://bsp3-f0b1b.firebaseio.com</string>
</dict>
</plist>